.select-background{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #fff;
}

.p-select-background{
	width: 100%;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Roboto';
	font-size: 6vw;
	color: orangered;
	text-align: center;
}

p span{
	display: block;
	color: #000;
	font-size: 2vw;
}

.bg-color-palette-container{
	position: relative;
	overflow: auto;
	top: 70vh;
	height: 30vh;
	width: 100%;
	background: #8EE4AF;
	position: absolute;
	bottom: 0;
	text-align: center;	
}

.bg-color-palette-wrapper{
	margin: 50px auto;
	max-width: 80%;
}

.bg-color{
	min-height: 80px;
	min-width: 80px;
	margin: 20px 20px;
	border: 3px solid #fff;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}

.bg-color:first-child{
	background-color: #fff;
	border: 3px solid #000;
}

.bg-color:nth-child(2){
	background-color: #aaa;
}

.bg-color:nth-child(3){
	background-color: #000;
}

.bg-color:nth-child(4){
	background-color: lightblue;
}

.bg-color:nth-child(5){
	background-color: blue;
}

.bg-color:nth-child(6){
	background-color: orange;
}

.bg-color:nth-child(7){
	background-color: orangered;
}

.bg-color:nth-child(8){
	background-color: red;
}

@media only screen and (max-width: 1220px){
  .bg-color-palette-wrapper{
  	    max-width: 70%;
  }
}

@media only screen and (max-width: 568px){
  .bg-color{
  	min-width: 2em;
  	min-height: 2em;
  	margin: 10px;
  }
}



