.editor{
	position: relative;
	width: 100%;
	height: 100vh;
}

.upper-editor{
	display: flex;
	width: 100%;
	height: 70vh;
}

.img-wrapper{
	max-width: 100%;
	border: 10px solid pink;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
}

.img-wrapper p{
	position: absolute;
	bottom: 0px;
	left: 5px;
	font-family: arial;
}

#memed-img{
	max-width: 100%;
}

.lower-editor{
	overflow: auto;
	background: #8EE4AF;
	position: relative;
	width: 100%;
	height: 30vh;
	text-align: center;
}

.toolbar-wrapper{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 80px;
}

.tool{
	display: inline-block;
	position: relative;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 15px 35px;
	padding: 10px;
	background: #fff;
	border: 2px solid #F26444;
	color: #F26444;
	cursor: pointer;
}

.tool-icon{
	font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.tool-icon:last-child{
	font-weight: 800;
}


.meme-result-wrapper{
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(142,228,175,0.9);
	text-align: center;
}

.meme-result-wrapper p{
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 10;
    font-size: 2em;
    font-family: impact;
    color: #000;
}

.meme-result-wrapper p:nth-child(3){
	margin: 0;
}

#memeImg{
	
	position: absolute;
	width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #F26444;
}

.btn-meme-it{
	background: #222;
	top: 5px;
}

.p-text{
	font-size: 1.4em;
	color: #000;
}

@media only screen and (max-width: 1080px){
  .meme-result-wrapper p{
  	font-size: 3em;
  }
}

@media only screen and (max-width: 795px){
  .tool{
  	max-width: 50px;
  	max-height: 50px;
  }

  .meme-result-wrapper p{
  	font-size: 2em;
  }
}

@media only screen and (max-width: 690px){
  .toolbar-wrapper{
  	max-width: 70%;
  }

  .meme-result-wrapper p{
  	font-size: 1.5em;
  }

  .p-text{
  	font-size: 1em;
  }
}


@media only screen and (max-width: 540px){
  .toolbar-wrapper{
  	max-width: 80%;
  	margin-top: 30px;
  }

}


@media (max-height: 500px)  and (max-width: 745px){
  .toolbar-wrapper{
  	max-width: 100%;
  	top: 70%;
  }

  .tool{
  	width: 2em;
  	height: 2em;
  }

  .tool-icon{
  	font-size: 1.3em;
  }

  .meme-result-wrapper p{
  	font-size: 1em;
  }
}

@media only screen and (max-width: 380px){
  .toolbar-wrapper{
  	max-width: 100%;
  }
}

@media only screen and (max-height: 595px) {
	.toolbar-wrapper{
	  	top: 80%;
	}
}

/* #8EE4AF */
/* #F26444 */
