

.hb-menu{
	z-index: 9;
	position: absolute;
	width: 40px;
	height: 40px;
	font-family: impact;
	top: 5px;
	left: 30px;
	cursor: pointer;
}

.hb-line{
	height: 2px;
	width: 60%;
	background: #F26444;
	margin: auto;
	margin-top: 8px;
}

.menu-white{
	height: 2px;
	width: 60%;
	background: #fff;
	margin: auto;
	margin-top: 8px;
}

.menu-item-wrapper{
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.menu-item-wrapper:first-child{
	margin-top: 80px;
}

.slide-menu, .hide-slide{
	width: 100px;
	height: 100vh;
	background: #fff;
	position: absolute;
	z-index: 8;
}

.slide-menu{
	background: #F26444;
	opacity: 0;
    animation: show 500ms ease-in forwards;
}

.hide-slide{
 animation: hide 500ms forwards;
}

.hidden{
	display: none;
}

.menu-item{
	color: #fff;
	font-size: 1.8em;
	cursor: pointer;
	animation: show 800ms ease-in forwards;
}

.gh{
	border-top: 3px solid white;
    padding-top: 25px;
}

@keyframes show{
	 from {
	   width: 0px;
	   opacity: 0px;
	 }
	 to{
	   width: 100px;
	   opacity: 1;
	}
}

@keyframes hide{
 from{
   width: 100px;
   opacity: 1;
 }
 to{
   width: 0px;
   opacity: 0;
 }
}

@media only screen and (max-width: 500px){
  .menu-item{
  	font-size: 1.6em;
  }
}

@media only screen and (max-height: 500px){
  .menu-item-wrapper:first-child{
  	margin-top: 20px;
  }

  .menu-item{
  	font-size: 1em;
  }

  .menu-home{
  	margin-top: 50px;
  }
}