header{
	width: 100%;
}

.logo{
	display: inline-block;
	display: inline-block;
    font-family: 'Bangers';
    font-size: 2em;
    margin: 10px 10px 0px 90px;
    letter-spacing: 3px;
    color: #222;
}

.logo2{
	font-family: 'Roboto';
	padding-left: 10px;
	display: inline-block;
	margin: 0;
	color: #F26444;
}