.upload-overlay{
	position: absolute;
	width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #eee;
}

.upload-btn-wrapper{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#btn-file{
	display: none;
}